SearchAPIs.xcodeproj/project.xcworkspace/xcuserdata/

SearchAPIs.xcodeproj/project.xcworkspace/xcuserdata/kefranks.xcuserdatad/UserInterfaceState.xcuserstate

SearchAPIs.xcodeproj/xcuserdata/kefranks.xcuserdatad/xcdebugger/